* rhaco2 のシステム要件
** PHP のバージョン
rhaco2 では、最新バージョンの PHP を利用することを推奨しますが、現在 PHP5.2 以降のバージョンをサポートしています。

** PHP の拡張モジュール
以下の拡張モジュールが必要ですが、大抵の環境において通常有効になっているはずです。
- mb_string
- zlib
また、外部ライブラリにおいて、この他の拡張モジュールが要求される場合があります。
